Checks: >-
  bugprone-*,
  clang-analyzer-*,
  performance-*,
  portability-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-exception-escape,
  -bugprone-crtp-constructor-accessibility,
  -performance-enum-size,
  -portability-avoid-pragma-once
WarningsAsErrors: ''
HeaderFilterRegex: '(^|/)hbt/'
